[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyperclip = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
alpha = "./hack.py --words nwl2023.txt"
alfa = "./hack.py --words opentaal-wordlist.txt"
sim = "./sim.py"
