[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyperclip = "*"
python-dateutil = "*"
pytest = "*"
requests = "*"
html5lib = "*"
python-dotenv = "*"
emoji = "*"
beautifulsoup4 = "*"
ollama = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
alfa = "./binartic.py --site alfagok.diginaut.net --words opentaal-wordlist.txt"
alpha = "./binartic.py --site alphaguess.com --words nwl2023.txt"
ce = "./semantic.py"
cex = "./semantic.py --site cemantix.certitudes.org --lang French cemantix.log --tz CET"
dont = "./dontword.py --wordlist nwl2023.txt"
hurdle = "./hurdle.py --wordlist nwl2023.txt"
meta = "./meta.py"
review = "./meta.py review"
sim = "./sim.py"
space = "./spaceword.py --wordlist nwl2023.txt"
square = "./square.py --wordlist nwl2023.txt"
wordl = "./wordlish.py"
words = "./sortem.py"
